page-imagen .txt-orange {
  color: #f7ac43;
  font-size: 2rem; }

page-imagen .txt-blue {
  color: #005d8f;
  font-size: 2rem; }

page-imagen .txt-black {
  color: #040202;
  font-size: 2.5rem; }

page-imagen .number {
  color: #f7ac43;
  font-size: 5rem; }
