@font-face {
  page-home {
    font-family: "FBase";
    src: url("fonts/Prosto_One.ttf"); } }

page-home .m-t-5 {
  margin-top: 5px !important; }

page-home .p-t-5 {
  padding-top: 5px !important; }

page-home .m-b-5 {
  margin-bottom: 5px !important; }

page-home .p-b-5 {
  padding-bottom: 5px !important; }

page-home .m-l-5 {
  margin-left: 5px !important; }

page-home .p-l-5 {
  padding-left: 5px !important; }

page-home .m-r-5 {
  margin-right: 5px !important; }

page-home .p-r-5 {
  padding-right: 5px !important; }

page-home .m-t-10 {
  margin-top: 10px !important; }

page-home .p-t-10 {
  padding-top: 10px !important; }

page-home .m-b-10 {
  margin-bottom: 10px !important; }

page-home .p-b-10 {
  padding-bottom: 10px !important; }

page-home .m-l-10 {
  margin-left: 10px !important; }

page-home .p-l-10 {
  padding-left: 10px !important; }

page-home .m-r-10 {
  margin-right: 10px !important; }

page-home .p-r-10 {
  padding-right: 10px !important; }

page-home .m-t-15 {
  margin-top: 15px !important; }

page-home .p-t-15 {
  padding-top: 15px !important; }

page-home .m-b-15 {
  margin-bottom: 15px !important; }

page-home .p-b-15 {
  padding-bottom: 15px !important; }

page-home .m-l-15 {
  margin-left: 15px !important; }

page-home .p-l-15 {
  padding-left: 15px !important; }

page-home .m-r-15 {
  margin-right: 15px !important; }

page-home .p-r-15 {
  padding-right: 15px !important; }

page-home .m-t-20 {
  margin-top: 20px !important; }

page-home .p-t-20 {
  padding-top: 20px !important; }

page-home .m-b-20 {
  margin-bottom: 20px !important; }

page-home .p-b-20 {
  padding-bottom: 20px !important; }

page-home .m-l-20 {
  margin-left: 20px !important; }

page-home .p-l-20 {
  padding-left: 20px !important; }

page-home .m-r-20 {
  margin-right: 20px !important; }

page-home .p-r-20 {
  padding-right: 20px !important; }

page-home .m-t-25 {
  margin-top: 25px !important; }

page-home .p-t-25 {
  padding-top: 25px !important; }

page-home .m-b-25 {
  margin-bottom: 25px !important; }

page-home .p-b-25 {
  padding-bottom: 25px !important; }

page-home .m-l-25 {
  margin-left: 25px !important; }

page-home .p-l-25 {
  padding-left: 25px !important; }

page-home .m-r-25 {
  margin-right: 25px !important; }

page-home .p-r-25 {
  padding-right: 25px !important; }

page-home .m-t-30 {
  margin-top: 30px !important; }

page-home .p-t-30 {
  padding-top: 30px !important; }

page-home .m-b-30 {
  margin-bottom: 30px !important; }

page-home .p-b-30 {
  padding-bottom: 30px !important; }

page-home .m-l-30 {
  margin-left: 30px !important; }

page-home .p-l-30 {
  padding-left: 30px !important; }

page-home .m-r-30 {
  margin-right: 30px !important; }

page-home .p-r-30 {
  padding-right: 30px !important; }

page-home .m-t-35 {
  margin-top: 35px !important; }

page-home .p-t-35 {
  padding-top: 35px !important; }

page-home .m-b-35 {
  margin-bottom: 35px !important; }

page-home .p-b-35 {
  padding-bottom: 35px !important; }

page-home .m-l-35 {
  margin-left: 35px !important; }

page-home .p-l-35 {
  padding-left: 35px !important; }

page-home .m-r-35 {
  margin-right: 35px !important; }

page-home .p-r-35 {
  padding-right: 35px !important; }

page-home .m-t-40 {
  margin-top: 40px !important; }

page-home .p-t-40 {
  padding-top: 40px !important; }

page-home .m-b-40 {
  margin-bottom: 40px !important; }

page-home .p-b-40 {
  padding-bottom: 40px !important; }

page-home .m-l-40 {
  margin-left: 40px !important; }

page-home .p-l-40 {
  padding-left: 40px !important; }

page-home .m-r-40 {
  margin-right: 40px !important; }

page-home .p-r-40 {
  padding-right: 40px !important; }

page-home .m-t-45 {
  margin-top: 45px !important; }

page-home .p-t-45 {
  padding-top: 45px !important; }

page-home .m-b-45 {
  margin-bottom: 45px !important; }

page-home .p-b-45 {
  padding-bottom: 45px !important; }

page-home .m-l-45 {
  margin-left: 45px !important; }

page-home .p-l-45 {
  padding-left: 45px !important; }

page-home .m-r-45 {
  margin-right: 45px !important; }

page-home .p-r-45 {
  padding-right: 45px !important; }

page-home .m-t-50 {
  margin-top: 50px !important; }

page-home .p-t-50 {
  padding-top: 50px !important; }

page-home .m-b-50 {
  margin-bottom: 50px !important; }

page-home .p-b-50 {
  padding-bottom: 50px !important; }

page-home .m-l-50 {
  margin-left: 50px !important; }

page-home .p-l-50 {
  padding-left: 50px !important; }

page-home .m-r-50 {
  margin-right: 50px !important; }

page-home .p-r-50 {
  padding-right: 50px !important; }

page-home .m-t-55 {
  margin-top: 55px !important; }

page-home .p-t-55 {
  padding-top: 55px !important; }

page-home .m-b-55 {
  margin-bottom: 55px !important; }

page-home .p-b-55 {
  padding-bottom: 55px !important; }

page-home .m-l-55 {
  margin-left: 55px !important; }

page-home .p-l-55 {
  padding-left: 55px !important; }

page-home .m-r-55 {
  margin-right: 55px !important; }

page-home .p-r-55 {
  padding-right: 55px !important; }

page-home .m-t-60 {
  margin-top: 60px !important; }

page-home .p-t-60 {
  padding-top: 60px !important; }

page-home .m-b-60 {
  margin-bottom: 60px !important; }

page-home .p-b-60 {
  padding-bottom: 60px !important; }

page-home .m-l-60 {
  margin-left: 60px !important; }

page-home .p-l-60 {
  padding-left: 60px !important; }

page-home .m-r-60 {
  margin-right: 60px !important; }

page-home .p-r-60 {
  padding-right: 60px !important; }

page-home .m-t-65 {
  margin-top: 65px !important; }

page-home .p-t-65 {
  padding-top: 65px !important; }

page-home .m-b-65 {
  margin-bottom: 65px !important; }

page-home .p-b-65 {
  padding-bottom: 65px !important; }

page-home .m-l-65 {
  margin-left: 65px !important; }

page-home .p-l-65 {
  padding-left: 65px !important; }

page-home .m-r-65 {
  margin-right: 65px !important; }

page-home .p-r-65 {
  padding-right: 65px !important; }

page-home .m-t-70 {
  margin-top: 70px !important; }

page-home .p-t-70 {
  padding-top: 70px !important; }

page-home .m-b-70 {
  margin-bottom: 70px !important; }

page-home .p-b-70 {
  padding-bottom: 70px !important; }

page-home .m-l-70 {
  margin-left: 70px !important; }

page-home .p-l-70 {
  padding-left: 70px !important; }

page-home .m-r-70 {
  margin-right: 70px !important; }

page-home .p-r-70 {
  padding-right: 70px !important; }

page-home .m-t-75 {
  margin-top: 75px !important; }

page-home .p-t-75 {
  padding-top: 75px !important; }

page-home .m-b-75 {
  margin-bottom: 75px !important; }

page-home .p-b-75 {
  padding-bottom: 75px !important; }

page-home .m-l-75 {
  margin-left: 75px !important; }

page-home .p-l-75 {
  padding-left: 75px !important; }

page-home .m-r-75 {
  margin-right: 75px !important; }

page-home .p-r-75 {
  padding-right: 75px !important; }

page-home .m-t-80 {
  margin-top: 80px !important; }

page-home .p-t-80 {
  padding-top: 80px !important; }

page-home .m-b-80 {
  margin-bottom: 80px !important; }

page-home .p-b-80 {
  padding-bottom: 80px !important; }

page-home .m-l-80 {
  margin-left: 80px !important; }

page-home .p-l-80 {
  padding-left: 80px !important; }

page-home .m-r-80 {
  margin-right: 80px !important; }

page-home .p-r-80 {
  padding-right: 80px !important; }

page-home .m-t-85 {
  margin-top: 85px !important; }

page-home .p-t-85 {
  padding-top: 85px !important; }

page-home .m-b-85 {
  margin-bottom: 85px !important; }

page-home .p-b-85 {
  padding-bottom: 85px !important; }

page-home .m-l-85 {
  margin-left: 85px !important; }

page-home .p-l-85 {
  padding-left: 85px !important; }

page-home .m-r-85 {
  margin-right: 85px !important; }

page-home .p-r-85 {
  padding-right: 85px !important; }

page-home .m-t-90 {
  margin-top: 90px !important; }

page-home .p-t-90 {
  padding-top: 90px !important; }

page-home .m-b-90 {
  margin-bottom: 90px !important; }

page-home .p-b-90 {
  padding-bottom: 90px !important; }

page-home .m-l-90 {
  margin-left: 90px !important; }

page-home .p-l-90 {
  padding-left: 90px !important; }

page-home .m-r-90 {
  margin-right: 90px !important; }

page-home .p-r-90 {
  padding-right: 90px !important; }

page-home .m-t-95 {
  margin-top: 95px !important; }

page-home .p-t-95 {
  padding-top: 95px !important; }

page-home .m-b-95 {
  margin-bottom: 95px !important; }

page-home .p-b-95 {
  padding-bottom: 95px !important; }

page-home .m-l-95 {
  margin-left: 95px !important; }

page-home .p-l-95 {
  padding-left: 95px !important; }

page-home .m-r-95 {
  margin-right: 95px !important; }

page-home .p-r-95 {
  padding-right: 95px !important; }

page-home .m-t-100 {
  margin-top: 100px !important; }

page-home .p-t-100 {
  padding-top: 100px !important; }

page-home .m-b-100 {
  margin-bottom: 100px !important; }

page-home .p-b-100 {
  padding-bottom: 100px !important; }

page-home .m-l-100 {
  margin-left: 100px !important; }

page-home .p-l-100 {
  padding-left: 100px !important; }

page-home .m-r-100 {
  margin-right: 100px !important; }

page-home .p-r-100 {
  padding-right: 100px !important; }

page-home .m-t-110 {
  margin-top: 110px !important; }

page-home .p-t-110 {
  padding-top: 110px !important; }

page-home .m-b-110 {
  margin-bottom: 110px !important; }

page-home .p-b-110 {
  padding-bottom: 110px !important; }

page-home .m-l-110 {
  margin-left: 110px !important; }

page-home .p-l-110 {
  padding-left: 110px !important; }

page-home .m-r-110 {
  margin-right: 110px !important; }

page-home .p-r-110 {
  padding-right: 110px !important; }

page-home .m-t-120 {
  margin-top: 120px !important; }

page-home .p-t-120 {
  padding-top: 120px !important; }

page-home .m-b-120 {
  margin-bottom: 120px !important; }

page-home .p-b-120 {
  padding-bottom: 120px !important; }

page-home .m-l-120 {
  margin-left: 120px !important; }

page-home .p-l-120 {
  padding-left: 120px !important; }

page-home .m-r-120 {
  margin-right: 120px !important; }

page-home .p-r-120 {
  padding-right: 120px !important; }

page-home .m-t-130 {
  margin-top: 130px !important; }

page-home .p-t-130 {
  padding-top: 130px !important; }

page-home .m-b-130 {
  margin-bottom: 130px !important; }

page-home .p-b-130 {
  padding-bottom: 130px !important; }

page-home .m-l-130 {
  margin-left: 130px !important; }

page-home .p-l-130 {
  padding-left: 130px !important; }

page-home .m-r-130 {
  margin-right: 130px !important; }

page-home .p-r-130 {
  padding-right: 130px !important; }

page-home .m-t-140 {
  margin-top: 140px !important; }

page-home .p-t-140 {
  padding-top: 140px !important; }

page-home .m-b-140 {
  margin-bottom: 140px !important; }

page-home .p-b-140 {
  padding-bottom: 140px !important; }

page-home .m-l-140 {
  margin-left: 140px !important; }

page-home .p-l-140 {
  padding-left: 140px !important; }

page-home .m-r-140 {
  margin-right: 140px !important; }

page-home .p-r-140 {
  padding-right: 140px !important; }

page-home * {
  padding: 0;
  margin: 0; }

page-home .slide-zoom {
  height: 100%; }

page-home .slide-title {
  margin-top: 2.8rem;
  font-family: "Prosto One";
  color: #005d8f; }

page-home .slide-image {
  max-height: 50%;
  max-width: 80%;
  margin: 50px 0; }

page-home .bg-img {
  background-image: url("../../assets/imgs/portada-gris--imagen.jpg");
  background-position: center; }

page-home .list > .item-block:first-child {
  border: medium none; }

page-home .item {
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.5);
  border: medium none; }
  page-home .item .text-input {
    color: #005d8f; }
  page-home .item input::-moz-placeholder {
    color: #005d8f !important; }
  page-home .item input:-moz-placeholder {
    color: #005d8f !important; }
  page-home .item *::-webkit-input-placeholder {
    color: #005d8f !important; }
  page-home .item *:-ms-input-placeholder {
    color: #005d8f !important; }
  page-home .item *:-moz-placeholder {
    color: #005d8f !important; }
